# From original .csvignore
Sources/version.c
Sources/cksum

# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex
cs
showdb
show_old_managers
fixdb

# Logs & div
*.log
*.pid
*.old
*.core

# Databases
*.dat
db/
db/*

# Conf
*.conf
config.h

# Web
HTTP/*.#
HTTP/index.html

.gdbinit
